.postContainer{
    height: 100%;
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.postContainer img{
    width: 500px;
    height: 500px;

}

.upvotes{
    display: flex;
    flex-direction: column;
}

.upvotes span{
    display: flex;
    margin-top: 10px;
    
}