@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;400&family=Nunito&family=Nunito+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color: #dae0e6; */
}

a {
  text-decoration: none;
  color: white;
}
